@font-face {
    font-family: 'Formular';
    src: url('../fonts/Formular.ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Formular';
    src: url('../fonts/Formular-Black.ttf');
    font-weight: 600;
    font-style: normal;
}