

.section-description-service__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;

    .item {
        color: white;
        position: relative;
        min-height: 600px;
        display: flex;
        align-items: start;
        justify-content: end;
        padding: 1em 2em;
        flex-direction: column;
        border-radius: 15px;
        transition: all 0.25s ease;

        .item__background {
            object-fit: cover;
            border-radius: 15px;
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            z-index: -1;
        }

        .item__title {

            h2 {
                font-size: 50px;
                color: white;
            }
        }

    }
    .item__description{
        transition: opacity 0.1s ease;
        position: absolute;
        opacity: 0;
       
    }
    .item:hover{
        
        background: linear-gradient(180deg, rgba(0,212,255,0) 0%, rgba(0,0,0,0.5) 100%);
        // cursor: pointer;
        
        .item__description{
            transition: all 0.25s ease;
            position: relative;
            opacity: 1;
           
        }
    }
}